body {
    text-align: center;
}

textarea {
    font-size: 11px;
    font-family:  Lucida Grande, Tahoma;
    line-height: 1.2em;
    padding: 4px 7px;
    margin: 30px 10px 0 30px;
    border: 1px solid #c7c7c7;
    height: 365px;
    border-radius: 2px;
    resize: none;
}

button {
    background: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    outline: none;
}

textarea.in {
    width: 350px;
}

textarea.outJson {
    width: 697px;
}

textarea.outHtml {
    width: calc(350px + 697px + 80px);
    height: 300px;
}

button#go {
    vertical-align: top;
    margin: calc(400px/2 - 50px) -20px 0 0;
    padding: 50px 10px;
    border-radius: 2px;
}

button#go:hover {
    background: #f4f4f9;
}